@import "tailwindcss";

:root {
    --primary-color: #4f46e5;
    --secondary-color: #2563eb;
    --dark-bg: #111827;
    --light-bg: #f3f4f6;
    --dark-text: #1f2937;
    --light-text: #f9fafb;
}



/* Dark mode */
body.dark-mode {
    background-color: var(--dark-bg);
    color: var(--light-text);
}

/* Light mode - default */
body.light-mode {
    background-color: var(--light-bg);
    color: var(--dark-text);
}